@charset "utf-8";

$grey: #808080;
$white: #ffffff;
$limeGreen: #32CD32;
$lightGreen: #ADFFAD;
$darkGrey: #404040;
$text: $limeGreen;
$info: $grey;
$info-invert: $lightGreen;

$text-strong: $darkGrey;

@import "../lib/bulma/bulma.sass";
