@page "/settings"
@using Blazor.Song.Net.Shared;
@inject HttpClient Http

<div id="settings" name="settings" class="section content section container frame">
    <div class="field">
        <label class="label">Fond d'écran</label>
        <div class="control">
            <input class="input" type="text" placeholder="image url" bind="@ImageUrl" />
        </div>
    </div>
</div>

@functions {
    string _imageUrl = string.Empty;

    string ImageUrl
    {
        get { return _imageUrl; }
        set
        {
            if (string.IsNullOrEmpty(value))
                return;
            if (_imageUrl == value)
                return;
            _imageUrl = value;
            Wrap.ClassElement mainClassElement = new Wrap.ClassElement("main");
            mainClassElement.UpdateBackgroundImage(_imageUrl);
        }
    }
}
