@inherits BlazorLayoutComponent
@inject HttpClient Http;
@inject Services.IDataManager Data;

@using Blazor.Song.Net.Shared;
@using System.Collections.Specialized;

<div class="main hero is-fullheight">
    <div>
        <CascadingValue Value="@PlaylistTracks">
            <Player />
            <div class="columns">
                <NavLink href="playlist" class="button column">
                    Playlist
                </NavLink>
                <NavLink href="library" class="button column" Match=NavLinkMatch.Prefix>
                    Bibliothèque
                </NavLink>
                <NavLink href="settings" class="button column">
                    Paramètres
                </NavLink>
            </div>
            @Body
        </CascadingValue>
    </div>
</div>

@functions {
ObservableList<TrackInfo> PlaylistTracks { get; set; } = new ObservableList<TrackInfo>();

protected override Task OnInitAsync()
{
    PlaylistTracks.CollectionChanged += PlaylistTracksCollectionChanged;
    if (PlaylistTracks.Count > 0)
        Data.CurrentTrack = PlaylistTracks[0];
    return base.OnInitAsync();
}

void PlaylistTracksCollectionChanged(object sender, NotifyCollectionChangedEventArgs e)
{

    if (e.NewItems != null && e.NewItems.Count > 0)
        Data.DownloadTrack(((TrackInfo)e.NewItems[0]));
}
}