@inherits MainLayoutComponent

<div class="main hero is-fullheight">
    <div id="equalizerDiv" style="background-color:black">
            <canvas id="equalizer" style="position:absolute"></canvas>
        <CascadingValue Value="@PlaylistTracks">
            <Player />
            <div class="field has-addons has-addons-fullwidth">
                <p class="control">
                    <NavLink href="playlist" class="button column">
                        Playlist
                    </NavLink>
                </p>
                <p class="control">

                    <NavLink href="library" class="button column" Match=NavLinkMatch.Prefix>
                        Bibliothèque
                    </NavLink>
                </p>
                <p class="control">
                    <NavLink href="PodcastLibrary" class="button column">
                        Podcasts
                    </NavLink>
                </p>
                <p class="control">
                    <NavLink href="settings" class="button column">
                        Paramètres
                    </NavLink>
                </p>
            </div>
            @Body
        </CascadingValue>
    </div>
    <label style="background-color:#00000088;position:absolute;right:0;bottom:0">
        @CurrentRenderMode
    </label>
</div>