@using Blazor.Song.Net.Shared

<div style="min-height:30px">@TrackFullTitle</div>
<progress id="songProgress" 
          name="songProgress" 
          class="progress is-primary trackProgress" 
          value="@(TimeStatus.ToString())" 
          max="100" 
          @onclick=ProgressClick>
</progress>