@using Blazor.Song.Net.Shared;
@inject Services.IDataManager Data;


<div>@TrackFullTitle</div>
<progress id="songProgress" name="songProgress" class="progress is-primary trackProgress" value="@(TimeStatus.ToString())" max="100" onclick="@ProgressClick"></progress>


@functions {
[Parameter]
PlayerAudio PlayerAudio { get; set; }


int TimeStatus { get; set; }

string TrackFullTitle
{
    get
    {
        if (CurrentTrack == null)
            return "";
        else
            return CurrentTrack.Title + " - " + CurrentTrack.Artist;
    }
}

TrackInfo CurrentTrack
{
    get { return Data.CurrentTrack; }
}

async void ProgressClick(UIMouseEventArgs e)
{
    if (CurrentTrack == null)
        return;
    Wrap.Element element = new Wrap.Element("songProgress");
    int offsetWidth = await element.GetOffsetWidth();
    long newTime = (int)e.ClientX * ((int)CurrentTrack.Duration.TotalSeconds) / offsetWidth;
    await PlayerAudio.SetTime((int)newTime);
}

public void Refresh(int timeStatus)
{
    TimeStatus = timeStatus;
    this.StateHasChanged();
}
}
