@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.frame {
    background: black;
    opacity: 0.8;
}

.pCard {
    opacity: 0.8;
    background-color: #ffffff;
}

.main {
    background-image: url(/images/logoExpaceo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    background-color: #ADFFAD;
}

#librarySearchDiv {
    width: 100%;
}

.trackProgress {
    height: 30px;
}

.playlistRow .info {
    cursor: pointer;
}

.libraryRow {
    cursor: pointer;
}

.playlistRow.current {
    font-weight: bold;
}

.table-container {
    position: relative;
}

.table-scroll {
    overflow: auto;
    margin-top: 30px;
}

.table-container table {
    width: 100%;
}

.table-container table thead th .text {
    position: absolute;
    top: 0px;
    z-index: 2;
}

#library .table-scroll {
    height: 400px;
}

.label {
    color: limegreen;
}